.noteContainer {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: whitesmoke;
	border-top: 2px solid lightgray;
	flex-direction: row;
	display: flex;
}

.notesHead {
	height: 100vh;
	width: 25vw;
	border-right: 2px solid lightgray;
	display: flex;
	position: relative;
	box-sizing: border-box;
	flex-direction: column;
}

.notesTitle {
	width: 100%;
	display: flex;
	position: absolute;
	height: 50px;
	border-bottom: 2px solid lightgray;
	align-items: center;
	padding-left: 15px;
	font-size: x-large;
	font-weight: 600;
	box-sizing: border-box;
}

.notesTitle > button {
	height: 100%;
	position: absolute;
	right: 0;
	border: none;
	background: inherit;
	width: 48px;
	box-sizing: border-box;
}

.notesTitle > button:hover {
	background-color: rgb(76, 69, 92);
	color: white;
}

.savedNotes {
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	flex-wrap: wrap;
	margin-top: 50px;
}

.placeholderNote {
	color: darkgray;
	display: flex;
	flex-basis: 100%;
	justify-content: center;
	font-size: larger;
	font-weight: 400;
	padding-top: 10px;
}

.notesWorkspaceContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.wsPlaceholder {
	display: flex;
	box-sizing: border-box;
	flex-basis: 100%;
	padding-top: 25%;
	color: darkgray;
	font-size: xx-large;
	justify-content: center;
}

.savedNotesBox {
	width: 100%;
	color: white;
	display: flex;
	height: 75px;
	border-bottom: 2px solid lightgray;
	background-color: rgb(76, 69, 92);
	font-size: larger;
	font-weight: 500;
	padding-left: 10px;
	padding-top: 5px;
}

.boxEllipses {
	display: flex;
	position: absolute;
	width: auto;
	height: 50%;
	font-size: small;
	margin-top: 35px;
}

.workBox {
	display: flex;
	position: relative;
	border-bottom: 2px solid lightgray;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	font-size: xx-large;
	padding-left: 20px;
	flex-direction: column;
}

.inputBox {
	border: none;
	height: 66%;
	outline: none;
	width: 75%;
	background: none;
}

.dateTime {
	display: flex;
	width: 20%;
	background-color: whitesmoke;
	border: none;
	font-size: large;
}
